* {
	box-sizing: border-box;
}

:root {
	--eggshell: #fffdcf;
	--black: #2e2e2e;
	--yellow: #f8b800;
	--yellowtran: rgb(248 184 0 / 85%);
	--yellowshade: #c7a008;
	--blue: #0078f8;
	--darkblue: #0000bc;
	--skyblue: #3cbcfc;
	--red: #e74c3c;
	--red2: #9f1111;
	--orange: #d54217;
	--green: #00a800;
	--greentran: rgb(26 195 20 / 90%);
	--greenh: #0cc30c;
	--green2: #1f7c1f;
	--green2h: #349c34;
	--purple: #9b59b6;
	--purple2: #4338ca;
	--pink: #f87858;
	--pixelBorder: 4px 0 transparent, -4px 0 transparent, 0 -4px transparent, 0 4px transparent;
	--lcolor1: #0000bc;
	--lcolorb1: #0078f8;
	--lcolor2: #007800;
	--lcolorb2: #58d854;
	--lcolor3: #f85898;
	--lcolorb3: #f8b8f8;
	--lcolor4: #008888;
	--lcolorb4: #00fcfc;
	--lcolor5: #a80020;
	--lcolorb5: #e40058;
	--lcolor6: #00a844;
	--lcolorb6: #58f898;
	--lcolor7: #f83800;
	--lcolorb7: #f87858;
	--lcolor8: #6844fc;
	--lcolorb8: #b8b8f8;
	--lcolor9: #fca044;
	--lcolorb9: #f8d878;

	--gcolor1: var(--darkblue);
	--gcolor2: #a38114;
	--gcolor3: #d5f192;
	--gcolor4: #b2141c;
	--gcolor5: #b0e0e6;
	--gcolor6: #f0b7bc;
	--gcolor7: #feb472;
	--gcolor8: #5e3f89;
	--gcolor9: #a56868;
	--muteBtnBg: var(--eggshell);
	font-family: 'Gameboy', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	/* background-color: #89cdc1; */
	background: #79c9fc;
	box-sizing: border-box;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	z-index: 90;
}
@font-face {
	font-family: 'Gameboy';
	src: url('/fonts/gameboy-webfont.woff2') format('woff2'), url('/fonts/gameboy-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

button {
	cursor: pointer;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body {
	position: relative;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	min-height: 100dvh;
	/* height: calc(100vh - env(safe-area-inset-bottom)); */
	margin: 0 auto;
	background-image: url("/img/pokewp.jpg");
	image-rendering: pixelated;
	background-size: cover;
	background-position: center 18vh;
	background-position: center 18dvh;
	background-repeat: no-repeat;
	transition: opacity 0.5s ease-in-out;
}
body.game-over, html {
	background: rgb(10 47 81);
} 

/* body.fontLoaded {
	font-family: 'Gameboy', monospace;
	opacity: 1;
} */

#pokematch {
	padding: 1rem 10px 1.5rem 10px;
	margin: 0 auto;
	z-index: 90;
}

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 0 10px;
	margin-top: 2rem;
	margin-bottom: 40px;
	width: 100%;
	max-width: 920px;
	filter: blur(0);
	transition: filter 0.5s ease-in-out;
}
.card-container.bs-16 {
	gap:  1.375rem;
}
.card-container.bs-16 .pokeCard {
	height: 15vh;
	height: 15dvh;	
}
.card-container.bs-16 .frontCardImg {
	width: 60%;
}
.game-over .card-container, .game-over h1 {
	filter: blur(5px);
}

.pokeCard {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border-radius: 0.75rem; */
	background: #FFF;
	width: 100%;
	height: 16vh;
	height: 16dvh;
	color: rgb(var(--blue));
	background: rgb(53,106,150);
	/* border-color: var(--darkblue);
	border-width: 7px;
	border-style: solid; */
	opacity: 0.9;
	transition: all 0.3s ease-in-out;
	box-shadow: var(--pixelBorder),
	8px 0 var(--darkblue), -8px 0 var(--darkblue), 0 -8px var(--darkblue), 0 8px var(--darkblue), 0 0 0 4px var(--darkblue);
}
.frontCardImg {
	width: 50%;
	display: block;
	margin: 0 auto;
}
.gcolor1 { color: var(--lcolor1); }
.gcolor2 { color: var(--lcolor2); }
.gcolor3 { color: var(--lcolor3); }
.gcolor4 { color: var(--lcolor4); }
.gcolor5 { color: var(--lcolor5); }
.gcolor6 { color: var(--lcolor6); }
.gcolor7 { color: var(--lcolor7); }
.gcolor8 { color: var(--lcolor8); }
.gcolor9 { color: var(--yellow);	}
i.gcolor9 { text-shadow: var(--blue) -4px -4px 0, var(--blue) 4px -4px 0, var(--blue) -4px 4px 0, var(--blue) 4px 4px 0, var(--blue) -3px -3px 0, var(--blue) -3px -3px 0, var(--blue) 3px -3px 0, var(--blue) -3px 3px 0, var(--blue) 3px 3px 0, var(--blue) -3px -3px 0, var(--blue) 2px -2px 0, var(--blue) -2px 2px 0, var(--blue) 2px 2px 0, var(--blue) -1px -1px 0, var(--blue) 1px -1px 0, var(--blue) -1px 1px 0, var(--blue) 1px 1px 0; }

.deckgen-1 .pokeCard {
	background: var(--lcolorb1);
	box-shadow: var(--pixelBorder),
	8px 0 var(--lcolor1), -8px 0 var(--lcolor1), 0 -8px var(--lcolor1), 0 8px var(--lcolor1), 0 0 0 4px var(--lcolor1);
}
.deckgen-2 .pokeCard {
	background: var(--lcolorb2);
	box-shadow: var(--pixelBorder),
	8px 0 var(--lcolor2), -8px 0 var(--lcolor2), 0 -8px var(--lcolor2), 0 8px var(--lcolor2), 0 0 0 4px var(--lcolor2);
}

.deckgen-3 .pokeCard {
	background: var(--lcolorb3);
	box-shadow: var(--pixelBorder),
	8px 0 var(--lcolor3), -8px 0 var(--lcolor3), 0 -8px var(--lcolor3), 0 8px var(--lcolor3), 0 0 0 4px var(--lcolor3);
}
.deckgen-4 .pokeCard {
	background: var(--lcolorb4);
	box-shadow: var(--pixelBorder),
	8px 0 var(--lcolor4), -8px 0 var(--lcolor4), 0 -8px var(--lcolor4), 0 8px var(--lcolor4), 0 0 0 4px var(--lcolor4);
}
.deckgen-5 .pokeCard {
	background: var(--lcolorb5);
	box-shadow: var(--pixelBorder),
	8px 0 var(--lcolor5), -8px 0 var(--lcolor5), 0 -8px var(--lcolor5), 0 8px var(--lcolor5), 0 0 0 4px var(--lcolor5);
}
.deckgen-6 .pokeCard {
	background: var(--lcolorb6);
	box-shadow: var(--pixelBorder),
	8px 0 var(--lcolor6), -8px 0 var(--lcolor6), 0 -8px var(--lcolor6), 0 8px var(--lcolor6), 0 0 0 4px var(--lcolor6);
}
.deckgen-7 .pokeCard {
	background: var(--lcolorb7);
	box-shadow: var(--pixelBorder),
	8px 0 var(--lcolor7), -8px 0 var(--lcolor7), 0 -8px var(--lcolor7), 0 8px var(--lcolor7), 0 0 0 4px var(--lcolor7);
}
.deckgen-8 .pokeCard {
	background: var(--lcolorb8);
	box-shadow: var(--pixelBorder),
	8px 0 var(--lcolor8), -8px 0 var(--lcolor8), 0 -8px var(--lcolor8), 0 8px var(--lcolor8), 0 0 0 4px var(--lcolor8);
}
.deckgen-9 .pokeCard {
	background: var(--lcolorb9);
	box-shadow: var(--pixelBorder),
	8px 0 var(--lcolor9), -8px 0 var(--lcolor9), 0 -8px var(--lcolor9), 0 8px var(--lcolor9), 0 0 0 4px var(--lcolor9);
}

.inner {
	border-radius: 0.25rem;
}

.pokeCard img {
	width: 12vh;
	width: 12dvh;
	height: auto;
	image-rendering: pixelated;
}

.card-btn {
	flex: calc(33.333% - 1.5rem);
	padding: 0;
	border: none;
	background: none;
}
.bs-16 .card-btn {
	flex: calc(25% - 1.5rem);
}
.bs-20 .card-btn {
	flex: calc(20% - 1.75rem)
}
h1 {
	position: relative;
	font-size: clamp(1.75rem, 5vw + 0.5rem, 3rem);
	color: var(--yellow);
	font-weight: 800;
	text-transform: uppercase;
	margin: 2.5rem 0 2rem -1em;
	text-shadow:rgba(0, 0, 0, 0.9) 0px 1px 0;
	text-shadow:
		var(--lcolor1) -4px -4px 0,
		var(--lcolor1) 4px -4px 0,
		var(--lcolor1) -4px 4px 0,
		var(--lcolor1) 4px 4px 0,
		var(--lcolor1) -3px -3px 0,
		var(--lcolor1) -3px -3px 0,
		var(--lcolor1) 3px -3px 0,
		var(--lcolor1) -3px 3px 0,
		var(--lcolor1) 3px 3px 0,
		var(--lcolor1) -3px -3px 0,
		var(--lcolor1) 2px -2px 0,
		var(--lcolor1) -2px 2px 0,
		var(--lcolor1) 2px 2px 0,
		var(--lcolor1) -1px -1px 0,
		var(--lcolor1) 1px -1px 0,
		var(--lcolor1) -1px 1px 0,
		var(--lcolor1) 1px 1px 0;
	letter-spacing: -0.1rem;
	text-align: center;
	-webkit-font-smoothing: auto;
}


h1 i {
	position: absolute;
	transform: translate(-2%, -6%);
	font-style: normal;
	font-size: 0.5em;
	color: var(--skyblue);
	min-width: 78px;
	text-shadow: none;
}

h1 i span {
	display: inline-block;
	padding: 0;
}

.btn {
	font-family: inherit;
	display: block;
	background: var(--green);
	color: #fff;
	border: none;
	margin: .5rem auto 1.5rem auto;
	font-size: 1.25rem;
	letter-spacing: -0.15rem;
	padding: 7px 23px;
	box-shadow: var(--pixelBorder), 5px 0 var(--green), -6px 0 var(--green), 0 -6px var(--green), 0 6px var(--green), 0 0 0 3px var(--green);
	transition: filter 0.3s ease-in-out;
}

.btn:hover {
	filter: contrast(1.3);
}

.instructions {
	font-size: clamp(0.75rem, 1.5vw + 0.5rem, 1rem);
	text-align: center;
	color: var(--darkblue);
	text-transform: uppercase;
	margin-top: -1rem;
	line-height: 1.3;
	letter-spacing: -0.05rem;
}

.difficulty {
	font-size: clamp(0.75rem, 1.5vw + 0.5rem, 1rem);
	text-align: center;
	margin-top: 3rem;
	line-height: 1.3;
	letter-spacing: -0.05rem;
}

.difficulty h2 {
	color: var(--darkblue);
}
.difficulty p {
	color: var(--red2);
	font-size: 1rem;
}
.difficulty .tip {
	position: absolute;
	bottom: 25px;
	padding: 0 15px;
	text-align: center;
	width: 100%;
	left: 0;
	color: #39642d;
}
.difficulty .btn {
	display: inline-block;
	margin: 1rem;
	padding: 6px 27px;
	border: none;
	border-radius: 0;
	width: calc(100% - 32px);
}

.btn.easy {
	background: var(--green2);
	box-shadow: var(--pixelBorder),
	8px 0 var(--green2), -8px 0 var(--green2), 0 -8px var(--green2), 0 8px var(--green2), 0 0 0 4px var(--green2);
}
.btn.easy:hover {
	background: var(--green2);
	filter: contrast(1.3) brightness(1.2);
}

.btn.medium {
	background: var(--orange);
	box-shadow: var(--pixelBorder),
	8px 0 var(--orange), -8px 0 var(--orange), 0 -8px var(--orange), 0 8px var(--orange), 0 0 0 4px var(--orange);
}
.btn.medium:hover {
	background: var(--orange);
	filter: contrast(1.3) brightness(1.2);
}
.btn.hard {
	background: var(--red2);
	box-shadow: var(--pixelBorder),
	8px 0 var(--red2), -8px 0 var(--red2), 0 -8px var(--red2), 0 8px var(--red2), 0 0 0 4px var(--red2);
}

.btn.hard:hover {
	background: var(--red2);
	filter: contrast(1.3);
}
.btn.dbg {filter: hue-rotate(315deg);}

.footerkinda .btn.dbg,.footerkinda .btn.refresh {margin: 0;}

.footerkinda .btn.refresh {
	background: var(--blue);
	padding: 6px 15px;
	min-width: auto;
	box-shadow: var(--pixelBorder),
	8px 0 var(--blue), -8px 0 var(--blue), 0 -8px var(--blue), 0 8px var(--blue), 0 0 0 4px var(--blue);
}
.restart-container { 
	transform: translate(0, 13px);
}
.restart-container span {
	display: inline-block;
	font-size: 0.7rem;
	letter-spacing: -0.05rem;
	transform: translate(-8px, 4px);
	color: var(--blue);
	margin-right: -13px;
}
.error {
	font-size: 1.25rem;
	color: var(--darkblue);
	text-align: center;
}


.pokemon-type {
	display: inline-block;
	font-weight: 500;
	text-transform: capitalize;
	margin: 3px;
	padding: 2px 12px;
	border-radius: 7px;
	color: #fff;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	font-size: 0.8125rem;
}
.pokemon-type.grass {
	background: #78c850;
}
.pokemon-type.fire {
	background: #f08030;
}
.pokemon-type.water {
	background: #6890f0;
}
.pokemon-type.bug {
	background: #a8b820;
}
.pokemon-type.normal {
	background: #d4d1c7;
	color: #144370;
}
.pokemon-type.poison {
	background: #a040a0;
}
.pokemon-type.electric {
	background: #f8d030;
	color: #144370;
	border: 1px solid rgba(0, 0, 0, 0.15);
}
.pokemon-type.ground {
	background: #695048;
}
.pokemon-type.fairy {
	background: #ee99ac;
	color: #144370;
}
.pokemon-type.fighting {
	background: #c03028;
}
.pokemon-type.psychic {
	background: #f85888;
}
.pokemon-type.rock {
	background: #b8a038;
}
.pokemon-type.ghost {
	background: #705898;
}
.pokemon-type.ice {
	background: #98d8d8;
}
.pokemon-type.dragon {
	background: #7038f8;
}
.pokemon-type.dark {
	background: #705848;
}
.pokemon-type.steel {
	background: #b8b8d0;
}
.pokemon-type.flying {
	background: #a890f0;
}

.poke-name {
	background: rgb(59 130 246 / 50%);
	color: #fff;
	margin: -12px -12px 20px -12px;
	padding: 3px 0 2px 0;
	border-radius: 0.25rem 0.25rem 0 0;
}

.poke-id {
	position: absolute;
	color: var(--blue);
	left: 0;
	top: 0;
	background: var(--yellow);
	padding: 5px 15px 5px 10px;
	border-radius: 1rem 0 150px 0;
	box-shadow: 3px 1px 0 rgba(0, 0, 0, 0.2);
}

.type-icons {
	position: absolute;
	right: 0;
	top: 3px;
}
.type-icons svg {
	margin: 0 5px;
}

.back .type-icons {
	background: rgb(59 130 246 / 50%);
	position: unset;
	font-size: 1.75rem;
	display: flex;
	justify-content: center;
	margin: 9px -12px 0 -12px;
	padding: 7px 0;
	border-radius: 0 0 5px 5px;
}

.gameOvered {
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	color: var(--darkblue);
	background: var(--yellow);
	text-align: center;
	padding: 30px 20px 10px 20px;
	width: calc(100% - 30px);
	max-width: 600px;
	margin: 0 auto;
	/* border: 7px solid var(--eggshell); */
	box-shadow: var(--pixelBorder),
	8px 0 #FFF, -8px 0 #FFF, 0 -8px #FFF, 0 8px #FFF, 0 0 0 4px #FFF;
	/* border-radius: 0.75rem; */
	transform: translateY(-180%);
	transition: transform 0.75s ease-in;
	z-index: 200;
}
.game-over .gameOvered {
	transform: translateY(-50%);
}
.gameOvered.game-complete {
	position: absolute;
	background: var(--lcolorb6);
}

.gameOvered h2 {
	font-size: clamp(1.25rem, 3vw + 0.5rem, 2rem);
	text-transform: uppercase;
	margin: 0.5rem 0 1rem 0;
	color: var(--green);
	text-shadow: 0 0 35px #fff;
	letter-spacing: -0.15rem;
	line-height: 1;
}
.gameOvered.game-complete h2 {
	color: var(--red);
}
.gameOvered.game-complete h3 {
	margin-bottom: -1.75rem;
}
.gameOvered.game-complete .pokesCaught {
	padding: 1em 0 1.5em 0;
}
.gameOvered h2 span::before {
	content: "'";
	display: inline-block;
	transform: translate(6px, 0);
	margin-left: -1rem;
}
.gameOvered h3 {
	position: relative;
	font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
	color: var(--blue);
	margin: 0;
	text-transform: uppercase;
	background: var(--pink);
	color: #FFF;
	padding: 0.25rem 0.25rem 0;
	width: 83%;
	min-width: 210px;
	letter-spacing: -0.15rem;
	margin: 0 auto;
	box-shadow: var(--pixelBorder), 5px 0 var(--pink), -6px 0 var(--pink), 0 -6px var(--pink), 0 6px var(--pink), 0 0 0 3px var(--pink);
}

.gameOveredMessage {
	font-size: clamp(0.5rem, 1.25vw + 0.5rem, 1.375rem);
	line-height: 1.4;	
	letter-spacing: -0.05rem;
	margin: 0;
	color: var(--darkblue);
	text-shadow: 0 1px 0 rgb(255 255 255 / 80%);
}

.gameOveredMessage strong {
	color: var(--green2);
	line-height: 1;
	transform: translate(-7px);
	display: inline-block;
	background: rgb(255 206 52);
	padding: 13px 10px;
	border-radius: 100%;
}
p.scoringMessage  {
	position: relative;
	font-size: clamp(1rem, 2vw + 0.5rem, 1.5rem);
	color: #FFF;
	transition: all 0.5s ease-in-out;
	background: var(--blue);
	border-radius: 2px;
	padding: 15px 10px;
	margin: -21px -32px 1rem -32px;
	letter-spacing: -0.15rem;
}
.scoringMessage span {
	color: var(--lcolorb9);
	transform: translateY(-2px);
	display: inline-block;
	letter-spacing: 0.05rem;
}

/* to add in header:
Pokematching: ★★★☆☆ / Pokemon caught: 22/54 / Avg. Time: ):41 */

header {
	width: 100%;
	background: var(--darkblue);
	padding: 8px 0;
	position: absolute;
	font-size: 1rem;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}
header p {
	margin: 0;
	font-size: 0.9375rem;
	line-height: 1;
}
header .timer {
	background: var(--lcolorb5);
	padding: 8px 5px 6px 5px;
	transform: translateY(1px);
}
.header-turns {display:none; transition: all 0.3s ease-in-out;}
.header-turns.highlight {
	background: var(--yellow);
	color: var(--darkblue);
	padding: 8px 5px 6px 5px;
}
.footerkinda {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 10px;
	margin-top: 3.5rem;
	opacity: 1;
	transition: all 0.5s ease-in-out;
}
.hide {opacity: 0;}
.footerkinda p, .footerkinda button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 34px;
	text-align: center;
}
.footerkinda .turns {
	display: none;
}
.power-ups {
	border: none;
	font-family: inherit;
	font-size: 1.125rem;
	background: var(--greentran);
	color: #FFF;
	width: 175px;
	padding: 0 10px;
	box-shadow: var(--pixelBorder), 5px 0 var(--greentran), -6px 0 var(--greentran), 0 -6px var(--greentran), 0 6px var(--greentran), 0 0 0 3px var(--greentran);
}
.power-ups .icon-pokeball {
	cursor: pointer;
	fill: var(--lcolor8);
	margin: 0 3px;
}

.power-ups span {
	position: absolute;
	top: -4px;
	padding: 2px 10px;
	background: var(--greentran);
	transform: translateY(-100%);
	color: #1a761c;
	color: var(--eggshell);
	border-bottom: 1px solid rgb(255 255 255 / 50%);
	box-shadow: inset 0 -2px 0 rgb(0 0 0 / 20%);
	font-size: 1rem;
}
	
.restart.btn {
	margin: 1rem auto -2.5rem auto;
	border: none;
	border-radius: 0;
	box-shadow: var(--pixelBorder), 5px 0 #FFF, -6px 0 #FFF, 0 -6px #FFF, 0 6px #FFF, 0 0 0 3px #FFF;
}
.muteBtn button {
	cursor: pointer;
	border: none;
	background: var(--muteBtnBg);
	padding: 6px 15px;
	min-width: auto;
	box-shadow: var(--pixelBorder),
	8px 0 var(--muteBtnBg), -8px 0 var(--muteBtnBg), 0 -8px var(--muteBtnBg), 0 8px var(--muteBtnBg), 0 0 0 4px var(--muteBtnBg);
}

.muteBtn svg {
	width: 24px;
	height: 24px;
}

.time {
	display: inline-flex;
	background: var(--red);
	padding: 5px 20px;
	transform: translateY(-16px);
	color: #FFF;
	border-top: 3px solid rgb(0 0 0 / 20%);
	border-bottom: 3px solid #FFF;
	border-left: 3px solid #FFF;
	border-right: 3px solid #FFF;
}

.time.flash {
	animation-name: color-flash;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.time.fiyahhh {
	background: var(--green);
}

.time.fiyahhh::before, .time.fiyahhh::after {
	position: absolute;
	content: '';
	width: 34px;
	height: 34px;
	background: url(/img/fire.gif) no-repeat center center / 100%;
}
.time.fiyahhh::before {
	left: -18px;
	bottom: -3px;
	/* transform: rotate(-11deg); */
}
.time.fiyahhh::after {
	right: -18px;
	bottom: -3px;
	transform: scaleX(-1);
}
.time .icon-clock {
	margin-right: 10px;
	transform: translateY(-1px);
}

.icon-mute {
	fill: var(--darkblue);
}

.upNext {
	font-size: 1.125rem;
	margin: 1rem 0 0;
	color: var(--darkblue);
	text-transform: uppercase;
	letter-spacing: -0.15rem;
}

.upNext strong {
	color: var(--green);
	border-bottom: 3px solid var(--darkblue);
	font-size: 1.25rem;
}
.pokesCaught {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 4em 0 1.5em 0;
	background: rgba(255,255,255,0.4);
	box-shadow: var(--pixelBorder), 5px 0 var(--pink), -6px 0 var(--pink), 0 -6px var(--pink), 0 6px var(--pink), 0 0 0 3px var(--pink)
}

.pokesCaught img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: 100%;
}
.pokesCaught li {
	flex-basis: calc(97.5% / 3);
	margin-bottom: 1.5rem;
}

.pokesCaught p {
	font-size: clamp(0.75rem,2vw,1rem);
	color: var(--blue);
	background: none;
	box-shadow: none;
	margin: 0;
	letter-spacing: -0.15rem;
	line-height: 1;
}

.pokeCaught {
	opacity: 0;
	cursor: pointer;
	touch-action: manipulation;
	transform: translateX(-50px);
	transition: all 0.3s ease-in-out;
}
.pokeCaught.active {
	opacity: 1;
	transform: translateX(0);
}
.pokeCaught.winner p {
	color: var(--green2);
}
.guess {
	margin-bottom: -5.5rem;
	font-size: clamp(0.75rem,2vw,1.25rem);
	padding: 0 5px;
	line-height: 1.4;
}
.guess.guessimate {
	animation: blue-flash 0.75s ease-in-out infinite;
}
.guess.correct {
	color: var(--green2);
}
.guess.incorrect {
	color: var(--red);
}
.not-allowed, .not-allowed li {
	cursor: not-allowed;
}
.poke-load {
	display: block;
	margin: 0 auto;
	width: 2rem;
}

.spinner {
	background: #316eba;
	background: var(--blue);
	background: #f24646;
	border-radius: 50px;
	animation: rotate 2s linear infinite;
	z-index: 2;
	width: 30px;
	height: 30px;
}

.spinner .path {
	stroke: var(--yellow);
	stroke: #fff;
	stroke-linecap: round;
	animation: dash 1.5s ease-in-out infinite;
}

.flip {
	position: relative;
	cursor: pointer;
	filter: contrast(1.1);
}
.flip > .front,
.flip > .back {
	display: block;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-duration: 0.75s;
	transition-property: transform, opacity;
	-webkit-perspective: 0;
	perspective: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	visibility:visible;
	backface-visibility: hidden;
}
.flip > .front {
	transform: rotateY(0deg);
}

.flip > .back {
	position: absolute;
	opacity: 0;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transform: rotateY(-180deg);
}
.flip.flipped > .front,.flip.reveal > .front {
	transform: rotateY(180deg);
}
.flip.flipped > .front svg {
	opacity: 0;
}
.flip.flipped > .back,.flip.reveal > .back  {
	opacity: 1;
	transform: rotateY(0deg);
}

@media screen and (min-width: 600px) {
	body { background-attachment: fixed; }
	#pokematch {
		padding-top: 2rem;
	}
	h1 {margin: 3rem 0 4rem 0;}
	h1 i {
		transform: translate(11%, -4%);
		min-width: 100px;
	}
	.card-container {
		margin-top: 3rem;
	}
	.gameOvered h2 { margin: 1rem 0 2rem 0; }
	.pokeCard { height: 20vh; height: 20dvh; }
	.card-container.bs-16 {
		gap: 1.5rem;
	}
	.card-container.bs-16 .pokeCard {
		height: 16.5vh;
		height: 16.5dvh;
	}
	.pokeCard img {
		width: 20vh;
		width: 20dvh;
	}
	.pokesCaught.bs-16 li,
	.pokesCaught.bs-20 li {
		flex-basis: 23%;
		margin-bottom: 1.5rem;
	}
	.difficulty .btn { width: auto; }
	.guess {padding: 0 15px;}
	.header-turns {display:inline;}
	.footerkinda {
		justify-content: space-between;
	}
	.footerkinda .turns {
		display: flex;
		/* font-size: 1.125rem; */
		color: var(--darkblue);
		/* color: #33512b; */
		width: 170px;
		background: var(--yellowtran);
		text-shadow: 0 1px 0 rgba(255 255 255 / 0.2);
		text-align: center;
		text-transform: uppercase;
		transition: all 0.5s ease-in-out;
		box-shadow: var(--pixelBorder), 5px 0 var(--yellowtran), -6px 0 var(--yellowtran), 0 -6px var(--yellowtran), 0 6px var(--yellowtran), 0 0 0 3px var(--yellowtran);
	}
	.restart-container { 
		transform: translate(-100%, 13px);
	}
	.muteBtn {
		top: 20px;
		right: 15px;
	}
}
@media screen and (min-width: 768px) {
	.card-container {
		gap: 2rem;
	}
	.card-btn {
		flex: calc(25% - 25px);
	}
	.frontCardImg {
		width: auto;
	}
	.card-container.bs-16 .frontCardImg {
		width: 90%;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.animate-spin {
	animation: spin 1s linear infinite;
}

@keyframes color-flash {
	0% {background: hsl(5deg 100% 49% / 100%);}
	25% {background: hsl(10deg 100% 49% / 100%);}
	50% {background: hsl(15deg 100% 49% / 100%);}
	75% {background: hsl(20deg 100% 49% / 100%);}
	100% {background: hsl(25deg 100% 49% / 100%);}
}


@keyframes blue-flash {
	0% {color: hsl(240deg 70% 36.85%);}
	100% {color: hsl(210deg 100% 36.85%);}
}

@keyframes wave {
	0%,40%,100% {
		transform: translateY(0)
	}
	20% {
		transform: translateY(-3px)
	}
}

.wave i {
	display: inline-block;
	animation: wave 1s infinite;
	animation-delay: calc(.1s * var(--i));
}
.wave i:nth-child(1) {--i: 1;}
.wave i:nth-child(2) {--i: 2;}
.wave i:nth-child(3) {--i: 3;}
.wave i:nth-child(4) {--i: 4;}
.wave i:nth-child(5) {--i: 5;}
.wave i:nth-child(6) {--i: 6;}
.wave i:nth-child(7) {--i: 7;}
.wave i:nth-child(8) {--i: 8;}
.wave i:nth-child(9) {--i: 9;}
.wave i:nth-child(10) {--i: 10;}
.wave i:nth-child(11) {--i: 11;}
.wave i:nth-child(12) {--i: 12;}
.wave i:nth-child(13) {--i: 13;}
.wave i:nth-child(14) {--i: 14;}
.wave i:nth-child(15) {--i: 15;}
.wave i:nth-child(16) {--i: 16;}
.wave i:nth-child(17) {--i: 17;}
.wave i:nth-child(18) {--i: 17;}
.wave i:nth-child(19) {--i: 19;}

.blue-flash {
	animation-name: blue-flash;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes contrast-flash {
	0% {filter: contrast(1); transform: translateY(0)}
	100% {filter: contrast(1.75); transform: translateY(-7px)}
}
.animate-contrast {
	animation-name: contrast-flash;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
