* {
	box-sizing: border-box;
}
:root {
	--eggshell: #fffdcf;
	--black: #2e2e2e;
	--yellow: #ffcb05;
	--yellowshade: #c7a008;
	--blue: #326fba;
	--darkblue: #003a70;
	--skyblue: #3785bd;
	--red: #e74c3c;
	--green: #3b9c5a;
	--purple: #9b59b6;
	--pink: #ef6a5c;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	/* background-color: #89cdc1; */
	background: #79c9fc;
	box-sizing: border-box;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	z-index: 90;
}
a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	position: relative;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	margin: 0 auto;
	background-image: url("/img/pokewp.jpg");
	image-rendering: pixelated;
	background-size: cover;
	background-position: center 23vh;
	background-position: center 23dvh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
body.game-over {
	/* position: absolute; */
	background: rgba(0, 0, 0, 0.8);
} 
body:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(107, 186, 255, 0.4);
	z-index: 1;
}

body.fontLoaded {
	font-family: 'VT323', monospace;
	opacity: 1;
}
/* body:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(107, 186, 255, 0.4);
	z-index: 1;
} */

#pokematch {
	padding: 1.5rem 15px 1.5rem 15px;
	padding-top: 1.5rem;
	margin: 0 auto;
	z-index: 90;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-gap: 0.5rem;
	width: 100%;
	max-width: 1000px;
	/* filter: blur(0); */
	transition: all 0.5s ease-in-out;
}
.game-over .card-container {
	filter: blur(5px);
}

@media screen and (min-width: 768px) {
	.card-container {
		grid-template-columns: repeat(4, minmax(0, 1fr));
		grid-gap: 1rem;
	}
}
	
.pokeCard {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.75rem;
	background: #FFF;
	width: 100%;
	height: 140px;
	color: rgb(var(--blue));
	background: rgb(53,106,150);
	border-color: var(--darkblue);
	border-width: 7px;
	border-style: solid;
	opacity: 0.9;
}
.deckgen-1 .pokeCard {
	border-color: var(--darkblue);
	background: rgb(53,106,150);
	background: linear-gradient(304deg, rgba(53,106,150,1) 0%, rgba(49,116,172,1) 10%, rgba(73,138,193,1) 19%, rgba(83,139,186,1) 27%, rgba(54,109,158,1) 38%, rgba(65,113,156,1) 57%, rgba(41,95,144,1) 82%, rgba(97,152,205,1) 100%);
}
.deckgen-2 .pokeCard {
	border-color: #a38114;
	background: rgb(231,176,14);
	background: linear-gradient(324deg, rgba(231,176,14,1) 0%, rgba(217,174,49,1) 18%, rgba(255,204,53,1) 39%, rgba(217,171,35,1) 62%, rgba(244,208,104,1) 83%, rgba(255,203,51,1) 100%);bckground: 
}

.deckgen-3 .pokeCard {
	border-color: #d5f192;
	background: rgb(59,156,90);
	background: linear-gradient(324deg, rgba(59,156,90,1) 0%, rgba(117,158,72,1) 32%, rgba(182,179,62,1) 71%, rgba(255,203,51,1) 100%);
}
.deckgen-4 .pokeCard {
	border-color: #b2141c;
	background: rgb(231,76,60);
	background: linear-gradient(324deg, rgba(231,76,60,1) 0%, rgba(201,59,45,1) 32%, rgba(247,99,84,1) 71%, rgba(255,155,144,1) 100%);
}
.deckgen-5 .pokeCard {
	border-color: #b0e0e6;
	background: rgb(52,139,155);
	background: linear-gradient(324deg, rgba(52,139,155,1) 0%, rgba(28,138,154,1) 41%, rgba(18,91,102,1) 100%);
}
.deckgen-6 .pokeCard {
	border-color: #f0b7bc;
	background: rgb(249,113,119);
	background: linear-gradient(324deg, rgba(249,113,119,1) 0%, rgba(249,157,152,1) 31%, rgba(251,219,219,1) 59%, rgba(250,191,187,1) 100%);
}
.deckgen-7 .pokeCard {
	border-color: #feb472;
	background: rgb(233,117,11);
	background: linear-gradient(324deg, rgba(233,117,11,1) 0%, rgba(246,160,84,1) 23%, rgba(209,109,25,1) 51%, rgba(223,121,44,1) 100%);
}
.deckgen-8 .pokeCard {
	border-color: #5e3f89;
	background: rgb(144,95,186);
	background: linear-gradient(324deg, rgba(144,95,186,1) 0%, rgba(152,102,195,1) 32%, rgba(126,76,169,1) 71%, rgba(114,67,156,1) 100%);
}
.deckgen-9 .pokeCard {
	border-color: #a89f9f;
	background: rgb(135,134,134);
	background: linear-gradient(324deg, rgba(135,134,134,1) 0%, rgba(120,120,120,1) 47%, rgba(112,112,112,1) 63%, rgba(98,98,98,1) 100%);
}

.inner {
	border-radius: 0.25rem;
}

.pokeCard img {
	width: 12vh;
	width: 12dvh;
	height: auto;
	image-rendering: pixelated;
}

@media screen and (min-width: 600px) {
	.pokeCard img {
		width: 20vh;
		width: 20dvh;
	}
}

.front .pokeCard img {
	width: 40%;
}
.card-btn {
	padding: 0;
	border: none;
	background: none;
}
h1 {
	position: relative;
	font-size: clamp(3.5rem, 6vw + 0.5rem, 5rem);
	color: var(--yellow);
	font-weight: 800;
	text-transform: uppercase;
	margin: 0.75rem 0 2rem -1em;
	text-shadow:rgba(0, 0, 0, 0.9) 0px 1px 0;
	letter-spacing: -0.1rem;
	text-align: center;
	-webkit-font-smoothing: auto;
}


h1 i {
	position: absolute;
	transform: translate(11%, -11%);
	font-style: normal;
	font-size: 0.5em;
	color: var(--skyblue);
	text-shadow: none;
	min-width: 78px;
}

h1 i span {
	display: inline-block;
	transform: translate(-5px, -2px);
	font-size: 0.875em;
	background: rgba(255,255,255,0.8);
	color: var(--red);
	padding: 0;
	width: 40px;
	height: 40px;
	text-indent: -2px;
	border-radius: 100px;
	line-height: 34px;
	border: 3px solid var(--black);
}

.instructions {
	font-size: 1.25rem;
	text-align: center;
	color: var(--darkblue);
	text-transform: uppercase;
	margin: -1rem 0 2rem 0;
}

@media screen and (min-width: 600px) {
	h1 {margin: 1rem 0 2.5rem 0;}
	h1 i {transform: translate(11%, -4%); min-width: 95px;}
	.pokeCard {
		height: 200px;
	}
}

.pokemon-type {
	display: inline-block;
	font-weight: 500;
	text-transform: capitalize;
	margin: 3px;
	padding: 2px 12px;
	border-radius: 7px;
	color: #fff;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	font-size: 0.8125rem;
}
.pokemon-type.grass {
	background: #78c850;
}
.pokemon-type.fire {
	background: #f08030;
}
.pokemon-type.water {
	background: #6890f0;
}
.pokemon-type.bug {
	background: #a8b820;
}
.pokemon-type.normal {
	background: #d4d1c7;
	color: #144370;
}
.pokemon-type.poison {
	background: #a040a0;
}
.pokemon-type.electric {
	background: #f8d030;
	color: #144370;
	border: 1px solid rgba(0, 0, 0, 0.15);
}
.pokemon-type.ground {
	background: #695048;
}
.pokemon-type.fairy {
	background: #ee99ac;
	color: #144370;
}
.pokemon-type.fighting {
	background: #c03028;
}
.pokemon-type.psychic {
	background: #f85888;
}
.pokemon-type.rock {
	background: #b8a038;
}
.pokemon-type.ghost {
	background: #705898;
}
.pokemon-type.ice {
	background: #98d8d8;
}
.pokemon-type.dragon {
	background: #7038f8;
}
.pokemon-type.dark {
	background: #705848;
}
.pokemon-type.steel {
	background: #b8b8d0;
}
.pokemon-type.flying {
	background: #a890f0;
}

.poke-name {
	background: rgb(59 130 246 / 50%);
	color: #fff;
	margin: -12px -12px 20px -12px;
	padding: 3px 0 2px 0;
	border-radius: 0.25rem 0.25rem 0 0;
}

.poke-id {
	position: absolute;
	color: var(--blue);
	left: 0;
	top: 0;
	background: var(--yellow);
	padding: 5px 15px 5px 10px;
	border-radius: 1rem 0 150px 0;
	box-shadow: 3px 1px 0 rgba(0, 0, 0, 0.2);
}

.type-icons {
	position: absolute;
	right: 0;
	top: 3px;
}
.type-icons svg {
	margin: 0 5px;
}

.back .type-icons {
	background: rgb(59 130 246 / 50%);
	position: unset;
	font-size: 1.75rem;
	display: flex;
	justify-content: center;
	margin: 9px -12px 0 -12px;
	padding: 7px 0;
	border-radius: 0 0 5px 5px;
}

.gameOvered {
	position: absolute;
	top: 2rem;
	left: 0;
	right: 0;
	color: var(--darkblue);
	background: rgba(255, 203, 5, 1);
	background: linear-gradient(300deg, rgba(231,176,14,1) 0%, rgba(255,203,51,1) 100%);
	text-align: center;
	padding: 30px 20px;
	width: calc(100% - 30px);
	max-width: 640px;
	margin: 0 auto;
	border: 7px solid var(--eggshell);
	border-radius: 0.75rem;
	box-shadow: 0 0 335px rgba(0,0,0,1);
	transform: translateY(-120%);
	transition: transform 0.75s ease-in;
	z-index: 200;
}
.game-over .gameOvered {
	transform: translateY(0);
}
.gameOvered h2 {
	font-size: clamp(4.5rem, 6vw + 0.5rem, 5rem);
	text-transform: uppercase;
	margin: 1rem 0 2rem 0;
	color: #3b9c5a;
	text-shadow: 0 0 35px #fff;
	letter-spacing: -0.1rem;
}
.gameOvered h3 {
	position: relative;
	font-size: clamp(1.5rem, 4vw + 0.5rem, 1.5rem);
	color: var(--blue);
	margin: 0;
	text-transform: uppercase;
	background: var(--pink);
	color: #FFF;
	padding: 0.25rem;
	width: 60%;
	min-width: 210px;
	margin: 0 auto -18px auto;
	border-radius: 7px 7px 0 0;
}

p.scoringMessage  {
	position: relative;
	font-size: clamp(1.7rem, 3vw + 0.5rem, 3rem);
	color: #FFF;
	transition: all 0.5s ease-in-out;
	background: var(--blue);
	border-radius: 4px;
	padding: 15px 10px;
	margin: -21px -32px 1rem -32px;
	box-shadow: 0 5px 7px rgb(0 0 0 / 25%),0 -3px 7px rgb(0 0 0 / 27%);
}

.turns {
	background: rgb(0 58 112 / 70%);
	border: 2px solid var(--yellow);
	font-size: 1.75rem;
	color: var(--eggshell);
	transition: all 0.5s ease-in-out;
	-webkit-font-smoothing: auto;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 0.5rem;
	width: 160px;
	margin: 2rem auto 0 auto;
}
.restartBtn {
	font-family: inherit;
	cursor: pointer;
	display: block;
	background: var(--green);
	color: #fff;
	border: none;
	margin: 1.5rem auto 1.5rem auto;
	font-size: 2rem;
	letter-spacing: -0.05rem;
	padding: 12px 27px;
	border-radius: 0.4375rem;
	transition: all 0.2s ease-in-out;
}

.restartBtn:hover {
	background:	#5ac57c;
}

.upNext {
	font-size: 1.5rem;
	margin: 1rem 0 0;
	color: var(--darkblue);
	text-transform: uppercase;
}

.upNext strong {
	color: var(--red);
	background: var(--eggshell);
	border-radius: 100px;
	padding: 3px 10.21px;
	border: 2px solid var(--black);
}
.pokesCaught {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 1em 0 1.5em 0;
	border: 2px solid var(--pink);
	background: rgba(255,255,255,0.4);
	border-radius: 7px;
}

.pokesCaught img {
	display: block;
	max-width: 100%;
	width: 100%;
}
.pokesCaught li {
	flex-basis: calc(99.25% / 3);
	/* margin-top: -1em; */
}

.pokesCaught p {
	font-size: 1.25rem;
	font-size: clamp(1.25rem,3vw,1.5rem);
	color: var(--blue);
	background: none;
	box-shadow: none;
	margin: -1em 0 0 0;
}

.pokeCaught {
	opacity: 0;
	transform: translateX(-50px);
	transition: all 0.3s ease-in-out;
}
.pokeCaught.active {
	opacity: 1;
	transform: translateX(0);
}
.poke-load {
	display: block;
	margin: 0 auto;
	width: 2rem;
}

.spinner {
	background: #316eba;
	background: var(--blue);
	background: #f24646;
	border-radius: 50px;
	animation: rotate 2s linear infinite;
	z-index: 2;
	width: 30px;
	height: 30px;
}

.spinner .path {
	stroke: var(--yellow);
	stroke: #fff;
	stroke-linecap: round;
	animation: dash 1.5s ease-in-out infinite;
}

.flip {
	position: relative;
	cursor: pointer;
	filter: contrast(1.1);
}
.flip > .front,
.flip > .back {
	display: block;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-duration: 0.75s;
	transition-property: transform, opacity;
	backface-visibility: hidden;
}
.flip > .front {
	transform: rotateY(0deg);
}
.flip > .back {
	position: absolute;
	opacity: 0;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transform: rotateY(-180deg);
}
.flip.flipped > .front {
	transform: rotateY(180deg);
}
.flip.flipped > .back {
	opacity: 1;
	transform: rotateY(0deg);
}

footer a {
	color: #c7ed8d;
	text-decoration: underline;
}

footer a:hover {
	color: #edf9da;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
.animate-spin {
	animation: spin 1s linear infinite;
}